@charset 'utf-8';

.page {
  margin: 8px 16px;
}

.l-container {
  margin: 16px 8px;
}

.sad {
  background-image: url('../img/sad.svg');
  width: 50px;
  height: 50px;
}

.blue {
  fill: #0cc;
}

.cc {
  font-size: 10px;
  color: #333;
  text-align: center;
}

use + .ic-sad {
 display: none;
}